body {
    background-color: rgb(242, 192, 255);
}
h1{
    text-align: center;
    color: rgb(0, 204, 255);
    font-weight: bolder;
    text-decoration: underline;
    font-size: 300%;
}
h3{
    text-align: center;
    color: rgb(255, 0, 119);
    font-weight: bolder;
    font-style: italic;
    
}

h4{
    text-align: left;
    color: rgba(25, 0, 255, 0.61);
    font-weight: bolder;
    font-size: 2vw;
    
      
}
p{
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    line-height: 2vw;
}

